
<!-- creating frame for page via base.html -->

{% extends 'base.html' %}

<!-- create title for FilmProjectForPermit_list.html -->

{% block title %}FilmProjectForPermits{% endblock %}

{% block content %}

    <!-- create list of FilmProjectForPermits -->

    {% for FilmProjectForPermit in object_list %}

      <!-- create card deck for displaying FilmProjectForPermits -->
        <div class="card">

        <div class="card-header">

            <span class="font-weight-bold">{{ FilmProjectForPermit.FilmProjectForPermit_Creator }}</span>
            <span class="text-muted">{{ FilmProjectForPermit.FilmProjectForPermit_Created_Date }}</span>

        </div>


        <div class="card-body">

            <p>{{ FilmProjectForPermit.FilmProjectForPermit_Project_Name }}</p>

            <a href="{% url 'FilmProjectForPermit_update' FilmProjectForPermit.pk %}">Edit</a> |

            <a href="{% url 'FilmProjectForPermit_delete' FilmProjectForPermit.pk %}">Delete</a>

        </div>

        <div class="card-footer text-center text-muted">

            <!-- create list of comments of FilmProjectForPermits -->
            {% for comment in FilmProjectForPermit.comment_set.all %}

                <p>

                    <span class="font-weight-bold">{{ comment.FilmProjectForPermit_Comment_Author }} &middot;</span>
                    {{ comment }}

                </p>

            {% endfor %}

        </div>


    </div>

      <br />

    {% endfor %}

{% endblock content %}
