
<!-- creating frame for page via base.html -->

{% extends 'base.html' %}

<!-- create title for Review_list.html -->

{% block title %}Review{% endblock %}

{% block content %}

    <!-- create list of Review -->

    {% for Review in object_list %}

      <!-- create card deck for displaying Review -->
        <div class="card">

        <div class="card-header">

            <span class="font-weight-bold">Review Rating : {{ Review.Review_Rating }}</span>
            <span class="text-muted">Review Text : {{ Review.Review_Text }}</span>

        </div>


        <div class="card-body">

            <p>Review Text : {{ Review.Review_Text }}</p>

            <a href="{% url 'Review_edit' Review.pk %}">Edit</a> |

            <a href="{% url 'Review_delete' Review.pk %}">Delete</a>

        </div>

        <div class="card-footer text-center text-muted">

            <!-- create list of comments of Review -->
            {% for comment in Review.comment_set.all %}

                <p>

                    <span class="font-weight-bold">{{ comment.Review_Comment_Author }} &middot;</span>
                    {{ comment }}

                </p>

            {% endfor %}

        </div>


    </div>

      <br />

    {% endfor %}

{% endblock content %}
