
<!-- creating frame for page via base.html -->

{% extends 'base.html' %}

<!-- create title for musician_list.html -->

{% block title %}musicians{% endblock %}

{% block content %}

    <!-- create list of musicians -->

    {% for musician in object_list %}

      <!-- create card deck for displaying musicians -->
        <div class="card">

        <div class="card-header">

            <span class="font-weight-bold">{{ musician.Musician_Author }}</span>
            <span class="text-muted">{{ musician.Musician_Created_Date }}</span>

        </div>


        <div class="card-body">

            <p>{{ musician.Musician_Description }}</p>

            <a href="{% url 'musician_edit' musician.pk %}">Edit</a> |

            <a href="{% url 'musician_delete' musician.pk %}">Delete</a>

        </div>

        <div class="card-footer text-center text-muted">

            <!-- create list of comments of musicians -->
            {% for comment in musician.comment_set.all %}

                <p>

                    <span class="font-weight-bold">{{ comment.musician_Comment_Author }} &middot;</span>
                    {{ comment }}

                </p>

            {% endfor %}

        </div>


    </div>

      <br />

    {% endfor %}

{% endblock content %}
