{% extends 'base.html' %}

{% block content %}

    <div class="booking-entry">

        <h2>{{ object.status }}</h2>
        <p>Author: {{ object.booking_Author }}</p>
        <p>{{ object.Created_Date }}</p>

    </div>

    <!--    booking Edit Delete button -->

    <p>
        <a href="{% url 'booking_edit' booking.pk %}">Edit</a> |

        <a href="{% url 'booking_delete' booking.pk %}">Delete</a>
    </p>

    <!--    # facebook like button -->

    <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
    </div>

    <p>Back to <a href="{% url 'booking_list' %}">All Messages</a>.</p>


{% endblock content %}