{% extends 'base.html' %}

{% block content %}

    <div class="post-entry">

        <h2>{{ object.ServiceCatagory_Responsibilities }}</h2>
        <p>Author: {{ object.ServiceCatagory_Icon_Number }}</p>
        <p>Author: {{ object.ServiceCatagory_Service_Category }}</p>
        <p>Author: {{ object.ServiceCatagory_Users }}</p>
        <p>Author: {{ object.ServiceCatagory_What_Do_You_Do }}</p>

    </div>

    <!--    ServiceCatagory Edit Delete button -->

    <p>
        <a href="{% url 'ServiceCatagory_update' ServiceCatagory.pk %}">Edit</a> |

        <a href="{% url 'ServiceCatagory_delete' ServiceCatagory.pk %}">Delete</a>
    </p>

    <!--    # facebook like button -->

    <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
    </div>

    <p>Back to <a href="{% url 'ServiceCatagory_list' %}">All Messages</a>.</p>


{% endblock content %}