
<!-- creating frame for page via base.html -->

{% extends 'base.html' %}

<!-- create title for messages_list.html -->

{% block title %}messagess{% endblock %}

{% block content %}

    <!-- create list of messagess -->

    {% for messages in object_list %}

      <!-- create card deck for displaying messagess -->
        <div class="card">

        <div class="card-header">

            <span class="font-weight-bold">{{ messages.Messages_Author }}</span>
            <span class="text-muted">{{ messages.Messages_Created_Date }}</span>

        </div>


        <div class="card-body">

            <p>{{ messages.Messages_Message }}</p>

            <a href="{% url 'messages_edit' messages.pk %}">Edit</a> |

            <a href="{% url 'messages_delete' messages.pk %}">Delete</a>

        </div>

        <div class="card-footer text-center text-muted">

            <!-- create list of comments of messagess -->
            {% for comment in messages.comment_set.all %}

                <p>

                    <span class="font-weight-bold">{{ comment.messages_Comment_Author }} &middot;</span>
                    {{ comment }}

                </p>

            {% endfor %}

        </div>


    </div>

      <br />

    {% endfor %}

{% endblock content %}
