{% extends 'base.html' %}

{% block content %}

    <div class="Location_Authorities-entry">

        <h2>Authority Contact Number : {{ object.Location_Authority_Contact_Number }}</h2>
        <p> Authority Detail : {{ object.Location_Authority_Detail }}</p>
        <p>Authority Email : {{ object.Location_Authority_Email }}</p>
    <p>Authority google address : {{ object.Location_Authority_Google_Address }}</p>
    <p>Authority Latitude : {{ object.Location_Authority_Latitude }}</p>
    <p>Authority Longitude : {{ object.Location_Authority_Longitude }}</p>
    <p>Authority Name : {{ object.Location_Authority_Name }}</p>
    <p>Authority Postal Address : {{ object.Location_Authority_Postal_Address }}</p>
    <p>Contact Name : {{ object.Location_Authority_Contact_Name }}</p>
    <p>Locality City State : {{ object.Location_Authority_Locality_City_State }}</p>
    <p>Location ID : {{ object.Location_Authority_Location_ID }}</p>
    <p>Office Charges : {{ object.Location_Authority_Office_Charges }}</p>
    <p>Street Address : {{ object.Location_Authority_Street_Address }}</p>
        <p>creator : {{ object.Location_Authority_Creator }}</p>
    <p>created date : {{ object.Location_Authority_Created_Date }}</p>



    </div>

    <!--    Location_Authorities Edit Delete button -->

    <p>
        <a href="{% url 'Location_Authorities_edit' locationauthority.pk %}">Edit</a> |

        <a href="{% url 'Location_Authorities_delete' locationauthority.pk %}">Delete</a>
    </p>

    <!--    # facebook like button -->

    <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
    </div>

    <p>Back to <a href="{% url 'Location_Authorities_list' %}">All Messages</a>.</p>


{% endblock content %}